@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ud-black;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid black;
  border-radius: 14px;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
